---
layout: default
hero_title: "Blog"
hero_subtitle: "Post Highlights"
---
            {% for post in site.tags["Highlight"] %}
                <div class="card post-card">
                    {% if post.thumbnail %}
                    <div class="card-image">
                        <figure class="image">
                            <a href="{{ site.baseurl }}{{ post.url }}" title="{{ post.title }}">
                                <img src="{{ post.thumbnail | prepend: site.baseurl }}" alt="{{ post.title }}">
                            </a>
                        </figure>
                    </div>
                    {% endif %}
                    <div class="card-content">
                        <h3 class="post-title"><a href="{{ site.baseurl }}{{ post.url }}" title="{{ post.title }}">{{ post.title
                                }}</a></h3>
                        <p class="post-categories">
                            {% for category in post.categories %}
                            <a href="/{{ category | prepend: site.baseurl }}"
                                class="tag {% if site.data.category[category].color %} is-{{ site.data.category[category].color }} {% endif %}">{{
                                category }}</a>
                            {% endfor %}
                        </p>
                        {% if post.description %}
                            <p>{{ post.description }}</p>
                        {% else %}
                            {{ post.excerpt }}
                        {% endif %}
                        <p><small> {{ post.display-date }} </small></p>
                    </div>
                </div>
            </li>
            {% endfor %}
