---
layout: default
---
<section class="hero is-primary is-small">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Hello Hello
            </h1>
            <h2 class="subtitle">
            </h2>
        </div>
    </div>
</section>
<section class="section">
    <div class="container">
        <h1 class="title is-5">Post Highlights</h1>
            {% for post in site.tags["Highlight"] %}
                <div class="card post-card">
                    {% if post.thumbnail %}
                    <div class="card-image">
                        <figure class="image">
                            <a href="{{ site.baseurl }}{{ post.url }}" title="{{ post.title }}">
                                <img src="{{ post.thumbnail | prepend: site.baseurl }}" alt="{{ post.title }}">
                            </a>
                        </figure>
                    </div>
                    {% endif %}
                    <div class="card-content">
                        <h3 class="post-title"><a href="{{ site.baseurl }}{{ post.url }}" title="{{ post.title }}">{{ post.title
                                }}</a></h3>
                        <p class="post-categories">
                            {% for category in post.categories %}
                            <a href="/{{ category | prepend: site.baseurl }}"
                                class="tag {% if site.data.category[category].color %} is-{{ site.data.category[category].color }} {% endif %}">{{
                                category }}</a>
                            {% endfor %}
                        </p>
                        {{ post.excerpt }}
                        <p><small> {{ post.display-date }} </small></p>
                    </div>
                </div>
            </li>
            {% endfor %}
    </div>
</section>
